.document-wrapper {
	position: relative;
	margin-top: 25%;
	background: $blue;
	width: 100%;

	h1 {
		color: $offWhite;
	}

	.row {
		margin-bottom: 50px;
	}

	.car-img {
		min-height: 400px;
		max-height: 400px;
	}

	.document {
		float: left;
	}

	.carousel {
		
		.carousel-caption {
			font-size: 26px;	

			.btn {
				font-size: 26px;
				white-space: inherit;
				border-style: groove;
			}

			.white {
					color: $offWhite;
				}

			.black {
				color: $black;
			}
			
		}
	}


}
@media (max-width: 690px){
	.document-wrapper {
		margin-top: -5%;
	}
}
