<div class="about"> 
	<div class="modal-header"> 
		<div style="text-align: right"> 
			<i class="fa fa-times" ng-click="ok()"></i> 
		</div> 
		<h2 class="modal-title">About Me</h2>
	</div> 
	<div class="modal-body"> 
		<p>
			Ariel (Ari) Sosnovsky, is a <a href="http://actsci.math.yorku.ca/degprog.html" tooltip-html-unsafe="{{tooltips.major}}" tooltip-placement="top">actuary student</a>, research assistant and president of the <a href="www.math.yorku.ca/asayu/" tooltip-html-unsafe="{{tooltips.actsci}}" tooltip-placement="top">Actuarial Student Association</a> at <a href="http://www.yorku.ca/index.html" tooltip-html-unsafe="{{tooltips.york}}" tooltip-placement="top">York University</a>. Ari's work in research involved applying a modified version of the second kind Pareto distribution, which his professor <a href="http://www.math.yorku.ca/~efurman/">(Prof. Edward Furman)</a> developed, using software such as <a href="http://www.mathworks.com/products/matlab/">Matlab</a>.
			<br><br><img src="docs/img/me.jpg" align="left" class="ari">
			He has also joined with a <a href="https://stockrender.com" tooltip-html-unsafe="{{tooltips.stockrender}}" tooltip-placement="top">start-up company</a> as Lead Data Engineer, for which he is developing various kinds of data-mining strategies and analysis of Stock-Data. He also taken part in setting the hosting servers and construction of MongoDB and MySQL databases. Through this experience he has familiarize himself with a large magnitude of technical skills that range from C, R and Go programming, to web-design with javascript, node, css and html, as well as data formats such as XML/XBLR/JSON and many others.
			<br><br>
			In his spare time, Ari has been busy taking on highschool and university students who wish to better their understanding of Mathematics, Probability, Economics, Physics and computer programs such as R, Photoshop and Matlab.
			<br><br>
			He also speaks, writes and reads in: English, Russian,and Hebrew.	
		</p>
	</div> 
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Back</button> 
	</div> 
</div>