<div class="modal-header"> <h3 class="modal-title">Email Me!</h3> </div> <div class="modal-body"> <!-- emailmeform.com BEGIN --> <h3 id="iframe-loader"> <i class="fa fa-spinner fa-spin"> </i> Give me a second to load! </h3> <iframe width="100%" height="679" allowtransparency="true" frameborder="0" scrolling="no" style="border:none" src="http://www.emailmeform.com/builder/embed/ex4ecf6Ybg0RqZ7ddMk"> <a href="http://www.emailmeform.com/builder/embed/ex4ecf6Ybg0RqZ7ddMk">Fill out form.</a> </iframe> <script type="text/javascript">//-----------------------------------------
			//	Iframe loader
			//-----------------------------------------
			$('#iframe-loader').show();
			$('iframe').load(function () {
				$('#iframe-loader').hide();
			});</script> <!-- emailmeform.com END --> </div> <div class="modal-footer"> <button class="btn btn-primary" ng-click="ok()">OK</button> <button class="btn btn-warning" ng-click="cancel()">Cancel</button> </div>