<!-- <div class="tutor-wrapper row wow bounceInLeft" ng-controller="AboutCtrl">
	<h1 id="tutor">Tutor</h1>
	<p class="container">
	</p>
</div>
 --> <div class="about"> <div class="modal-header"> <div style="text-align: right"> <i class="fa fa-times" ng-click="ok()"></i> </div> <h2 class="modal-title">Tutor</h2> </div> <div class="modal-body"> <p> ​<h3>Qualifications</h3> </p><p> ........ </p> <h3>Why I became a Tutor?</h3> <p> ........ </p> <h3>Tutoring Experience</h3> <p> ........ </p>  </div> <div class="modal-footer"> <button class="btn btn-primary" ng-click="ok()">Back</button> </div> </div>