<div class="about">
	<div class="modal-header">
		<div style="text-align: right;">
			<i class="fa fa-times" ng-click="ok()"></i>
		</div>
		<h2 class="modal-title">Actuary</h2>
	</div>
	<div class="modal-body">
		<p>
			<h3>Why I want to be an Actuary?</h3>
			<p>
				During my young adult years, I have always been intrigued with what one may achieve through mathematics. The knowledge I have gathered throughout my institutional studies and personal studies have allowed me to develop skills that equipped me with the ability to solve various mathematical problems. Thus seeing as the actuarial world consisted of applying such skills in order to encourage healthier behaviors and risk management, which both are of interest to me, I decided to pursue this profession.
			</p>
			​<h3>Qualifications</h3>
			<p>
				<ul>
					<li>
						Enrolled in Math for Commerce with a Specialized Honour's in Actuarial Science.
					</li>
					<li>
						Passed the Society of Actuaries Probability Exam.
					</li>
					<li>
						Posses technical knowledge in actuarial software such as SAS, R, Matlab and Maple.
					</li>
					<li>
						Literate in economics and keeps up to date with economical trends.
					</li>
					<li>
						Capable of reading and analyzing financial statements and apply statistical tests.
					</li>
				</ul>
			</p>
			<div class="row">
				<h3>Course History</h3>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					Search: <input ng-model="search.$" tooltip="Search my Courses." tooltip-placement="right">
				</div>
			</div>
			<ul class="row limited">
				<li ng-repeat="course in courses | filter:search:strict">
				<h4>
				<span ng-bind-html="highlight('|'+course.course_code+'|', search.$)"></span>
				<b ng-bind-html="highlight(course.title, search.$)"></b>
				<i ng-bind-html="highlight(course.note, search.$)"></i>
				</h4>
				<p>
					<ol class="courses" vpexpand="false">
						<li class="item" ng-repeat="item in course.description" ng-bind-html="highlight(item, search.$)"></li>
					</ol>
				</p>
				</li>
			</ul>

		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Back</button>
	</div>
</div>