<div class="about">
	<div class="modal-header">
		<div style="text-align: right;">
			<i class="fa fa-times" ng-click="ok()"></i>
		</div>
		<h2 class="modal-title">Tutor</h2>
	</div>
	<div class="modal-body">
		<p>
			<h3>Why I became a Tutor?</h3>
			<p>
				Throughout high school and continuing into university, I always found  pleasure in helping others improve their skills in various fields. Thus I have been working as a tutor for three years for those who need and want help. As the famous saying goes: 
				<blockquote class="blockquote-reverse">
					<p>The art of teaching is the art of assisting discovery.</p>
					<footer>~Mark Van Doren</footer>
				</blockquote>
			</p>
			​<h3>Qualifications</h3>
			<p>
				<ul>
					<li>
						Currently a third-year Mathematics for Commerce student at York University.
					</li>
					<li>
						Over three years of tutoring experience with both high school and university students in mathematics and computer science.
					</li>
					<li>
						Patient and always keeps a positive attitude.
					</li>
				</ul>
			</p>
			<h3>Tutoring Experience</h3>
			<ul class="unlimited">
				<li ng-repeat="value in tutoring" class="tutoring">
					<h5>
						<span ng-bind-html="highlight(value.time[0]+'-'+value.time[1], search.$)"></span><br>
						<b ng-bind-html="highlight(value.title, search.$)"></b><br>
						<a href="{{value.link}}" target="_blank"><img src="{{value.pic}}"></a><i ng-bind-html="highlight(value.company, search.$)"></i>
						<i ng-bind-html="highlight(' ('+value.location+')', search.$)"></i>
					</h5>
					<p>
						<ul>
							<li class="item" ng-repeat="item in value.description" ng-bind-html="highlight(item, search.$)"></li>
						</ul>
					</p>
				</li>
			</ul>
			
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Back</button>
	</div>
</div>