/*.home-wrapper {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}*/

.home-wrapper h1 {
    font-size: 10em;
    font-weight: 400;
    margin: 0;
    padding: 1%;
    color: #3ca2da;
}

@media (max-width: 690px) {
    h1 {
        font-size: 4em !important;
    }
}

.about .modal-header h2 {
    font-size: 50px;
    color: #333;
}

.about .modal-body {
    font-size: 150%;
    text-align: left;
    font-family: Verdana,Geneva,sans-serif;
}

.about .modal-body h3 {
    font-weight: 700;
}

.about .modal-body li {
    padding-right: 20px;
    margin-bottom: 4px;
}

.about .modal-body p {
    text-indent: 50px;
}

.about .modal-body .row {
    margin: 25px 0;
}

.about .modal-body ul.limited {
    max-height: 500px;
    overflow-y: scroll;
}

.about .modal-body ul.limited .highlightedText {
    background: #ff0;
}

.about .modal-body ul.limited ol.courses {
    position: relative;
    max-height: 100px;
    overflow: hidden;
}

.about .modal-body ul.limited ol.courses li.item {
    list-style-type: square;
    font-size: 17px;
}

.about .modal-body ul.unlimited h5 {
    font-size: 20px;
}

.about .modal-body ul.unlimited h5 b {
    font-size: 25px;
}

.about .modal-body ul.unlimited li.tutoring {
    margin-bottom: 25px;
}

.about .modal-body img.ari {
    width: 30%;
    margin-right: 1%;
}

.about .modal-footer {
    text-align: center;
}

.about .modal-footer button.btn.btn-primary {
    font-size: 25px;
    padding: 1% 2.5%;
}

.img-modal .modal-body {
    font-size: 24px;
}

.img-modal .modal-body .main-img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.img-modal .modal-body #logo {
    max-width: 60%;
    max-height: 60%;
}

.img-modal .modal-body p {
    font-family: Verdana,Geneva,sans-serif;
    margin: 15px;
}

.img-modal .modal-body li {
    font-family: Verdana,Geneva,sans-serif;
}

.img-modal .modal-footer .btn {
    font-size: 20px;
}

@media (max-width: 740px) {
    .about .modal-body {
        font-size: 120%;
    }

    .about .modal-body ul {
        width: 90%;
    }

    .about .modal-body ul li h4 {
        font-size: 17px;
    }

    .about .modal-body ul li h4 span {
        display: none;
    }

    .about .modal-body img.ari {
        width: 50%;
    }

    .img-modal p {
        font-size: 75%;
    }

    .img-modal li {
        font-size: 70%;
    }
}

.document-wrapper {
    position: relative;
    background: #409cde;
    /*width: 100%;*/
    padding-bottom: 2.5%;
    padding-top: 1%;
}

.document-wrapper h1 {
    color: #f8f8f8;
}

.document-wrapper .car-img {
    min-height: 400px;
    max-height: 400px;
}

.my-btn, .my-white-btn {
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    padding: .9em 1.2em;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 0 -3px;
    transition: all,.35s,ease-in-out;
}

.my-btn.my-right, .my-right.my-white-btn {
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

.my-btn.my-left, .my-left.my-white-btn {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.my-white-btn {
    border-color: #409cde;
    color: #409cde;
    background: #f0f8ff;
}

.my-white-btn:hover {
    color: #f0f8ff;
    background: #409cde;
    text-decoration: none;
}

@media (max-width: 690px) {
    .my-btn, .my-white-btn {
        font-size: 100%;
    }
}

.social {
    list-style-type: none;
    font-size: 500%;
    text-align: center;
    margin-top: 30px;
    display: block;
    position: relative;
    padding: 0;
}

.social:before {
    content: '';
    width: 250px;
    height: 1px;
    background: #54C7FC;
    opacity: .7;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -125px;
}

.social li {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.social a {
    color: #3ca2da;
    text-decoration: none;
    transition: all,.3s,ease-in-out;
}

.social a:hover {
    color: #54C7FC;
}

@media (max-width: 690px) {
    .social {
        font-size: 250%;
    }

    .social li {
        width: 33px;
    }
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: #f8f8f8;
    font-family: Oswald,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}